.projects {
  background-color: #3b2930;
  padding: 100px 150px;
}

.projects h2 {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  position: relative;
  z-index: 0;
  padding-bottom: 0px;
}

.main-projects {
  display: flex;
  justify-content: space-between;
}

.single-project {
  color: #988f92;
  text-align: center;
  border: 1px solid #6b4b40;
  padding: 45px 30px;
  cursor: pointer;
  transition: .3s;
}

.single-project h3 {
  transition: .3s;
  font-size: 24px;
  color: #db9a64;
  margin-top: 22px;
  margin-bottom: 11px;
  font-weight: 400;
}

.single-project:hover {
  background-color: #db9a64;
  color: #fff;
}

.single-project:hover h3 {
  color: #6b4b40;
}

.single-project-text {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
}
