.hi-there {
  width: 100%;
  overflow: hidden;
  display: flex;
  background-image: url(./img/banner.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.hi-there-message {
  padding-left: 150px;
  color: #fff;
  line-height: 60px;
  font-size: 80px;
  margin: auto 0;
  width: 100vw;
}

.hi-there-message h3 {
  margin-bottom: 0;
  font-weight: 300;
}

.job-title {
  color: #db9a64;
  font-size: 48px;
}

.cover {
  display: flex;
  width: 500px;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}

.imgOne {
  opacity: 0.3;
  z-index: 11;
  width: 800px;
  position: absolute;
  -webkit-animation: spin 300s linear infinite;
  -moz-animation: spin 300s linear infinite;
  animation: spin 300s linear infinite;
}

.imgTwo {
  opacity: 0.3;
  z-index: 10;
  width: 800px;
  position: absolute;
  -webkit-animation: spin1 200s linear infinite;
  -moz-animation: spin1 200s linear infinite;
  animation: spin1 200s linear infinite;
}

.hi-there-button-group {
  margin-top: 48px;
  display: inline-block;
  gap: 20px;
}

.imgAdem {
  z-index: 111;
  position: absolute;
  width: 10vw;
}

.img-fluid {
  width: 100%;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin1 {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin1 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin1 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/* Responsive  */
@media screen and (max-width: 768px) {
  .hi-there-message {
    height: 86vh;
    padding: 14vh 20px 0 20px;
  }

  .hi-there-message h3 {
    font-size: 3rem;
  }

  .job-title {
    font-size: 2rem;
  }

  .cover {
    display: none;
  }


  .hi-there-button-group a,
  .hi-there-button-group button {
    font-size: 16px;
    margin: 20px 0;
    line-height: 0;
    display: inline-block;
    padding: 30px;
    /* width: 60vw; */
  }
}
