body {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(201, 201, 201);
  background: linear-gradient(
    142deg,
    rgba(184, 184, 184, 1) 34%,
    rgba(255, 255, 255, 1) 100%
  );
}

a {
  text-decoration: none;
}

.btn {
  text-align: center;
  color: #db9a64;
  padding: 20px 48px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #db9a64;
  background-color: transparent;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
}

.btn:hover {
  color: #fff;
  background-color: #db9a64;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-3 {
  display: flex;
  justify-content: center;
  width: 25%;
}

.col-md-4 {
  width: 33%;
  padding: 20px;
}

.img-fluid {
  max-width: auto;
  max-height: 100%;
}

.pr-5 {
  padding-right: 40px;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 10px 24px;
  }
  .header-button-group {
    display: flex;
    flex-direction: column;
  }
}

.responsive-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background-color: #00000091;
}

@keyframes menu-open {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.responsive-left-side {
  left: 0;
  position: fixed;
  z-index: 99998;
  background-color: transparent;
  width: 30%;
  height: 100%;
}
.responsive-menu-close {
  display: none;
}

.responsive-right-side {
  animation: menu-open 1000ms;
  right: 0;
  position: fixed;
  z-index: 99999;
  background-color: #311e25;
  width: 70%;
  height: 100%;
  -webkit-box-shadow: -13px 0px 48px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -13px 0px 48px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -13px 0px 48px 0px rgba(0, 0, 0, 0.75);
}

.responsive-menu-logo {
  margin: 20px 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive-menu-items div {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  gap: 20px;
}

.responsive-menu-items div a {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  text-decoration: none;
  color: #db9a64;
}
